/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.slnx
.lscache
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.idea/
.vscode/

*.unitypackage
*.asset
*.meta

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.tmp

*.fbx.meta

steam_appid.txt

*.a
*.dylib
*.dll
*.so

*.pyc
*.pyo
*.pyd
__pycache__/

!*.py
!Assets/**/Scripts/**/*.py
!**/Scripts/**/*.py
!**/PythonScripts/**/*.py
!**/PyScripts/**/*.py